.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  img {
    width: 65px;
  }
  .navMenu {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
      margin-inline: 32px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  button {
    background-color: #d01c28;
    color: white;
    padding: 12px 28px;
    border: none;
    font-weight: bold;
    border-radius: 28px;
  }
}
